.contact-conatiner {
    display: flex;
    flex-direction: column;
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .contact-conatiner {
        width: 90%;
    }
}
