footer {
    background-color: var(--black);
    color: var(--white);
    padding: 2rem 1rem;
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
    i {
        font-size: 2rem;
    }
}

@media screen and (max-width: 768px) {
    footer {
        justify-content: center;
    }
}
